.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.skills-icons {
  font-size: 2rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
