.contact-icons {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-icons a {
  color: inherit;
  transition: transform 0.2s;
}

.contact-icons a:hover {
  transform: scale(1.2);
}
